<!DOCTYPE html>
<html lang="en">

  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Defuse the Situation</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'diffuse/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'diffuse/bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'diffuse/bootstrap/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'diffuse/bootstrap/device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'diffuse/bootstrap/css/new-age.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Defuse the Situation</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#viewgame">View Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#rules">How to Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5"><strong>Defuse the Situation</strong> is a new take on the classics "Mafia" and "Keep Talking, and Nobody Explodes"</h1>
              <a href="#viewgame" class="btn btn-outline btn-xl js-scroll-trigger">Join the Server and Start Now!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="{% static 'diffuse/bootstrap/img/demo-screen.png' %}" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download  text-center" id="viewgame">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">View Your Game Now!</h2>
            <p>The <strong>Discord App</strong> is available on any mobile device! <br> Download now to Start a New Game!</p>
            <a href="https://discord.gg/NCjcs"><button type="button" name="button">Join Our Server</button></a>
            <br>
            <div class="badges">
              <br>
              <form class="" action="/getgame" method="post">
                {% csrf_token %}
                Game Code: <input type="text" name="gameid">
                <input type="submit" name="" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover what all the buzz is about!</h2>
            <p>The <strong>Discord App</strong> is available on any mobile device! Download now to get started!</p>
            <div class="badges">
              <a class="badge-link" href="https://play.google.com/store/apps/details?id=com.discord&hl=en"><img src="{% static 'diffuse/bootstrap/img/google-play-badge.svg' %}" alt=""></a>
              <a class="badge-link" href="https://itunes.apple.com/us/app/discord/id985746746?mt=8"><img src="{% static 'diffuse/bootstrap/img/app-store-badge.svg' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="rules">
      <div class="container">
        <div class="section-heading text-center">
          <h2>How to Play the Game</h2>
          <p class="text-muted">This game is a best of five rounds. Each round will begin with the good guys receiving a digit that will be part of the code.
            The good guys will attempt to convince the diffuser that their digit is the correct one, while the bad guy will attempt to convince the diffuser
            that his fake digit is a part of the code. The diffuser will then decide which digits to put in and if the bad guy manages to trick the diffuser
            the bad guy wins.</p>
        </div>
      </div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>We
          <i class="fa fa-heart"></i>
          new friends!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2017 Diffuse the Situtation. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'diffuse/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'diffuse/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'diffuse/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'diffuse/bootstrap/js/new-age.min.js' %}"></script>

  </body>

</html>
